<html>
  <head>
    <title>VisionLabs Task</title>
  </head>
  <body style="font-family: sans-serif">
    <div class="page-wrapper">
        <h1>Oi!</h1>
        <ul>
            <li>
                <a href="/"> Home</a>
            </li>
            <li>
                <a href="/images"> Show list of images</a>
            </li>
            <li>
                <p> Remove image by name</p>
            </li>
            <li>
                <p> Upload base64 image</p>
                <form action="/images/upload" method="post">
                    <input name="string_image">
                    <input type="submit">
                </form>
                <p>{{ error_msg }}<p>
            </li>
        </ul>
        <br>
        <div class="ul-wrapper">
            {% for img in image_info %}
                <div class="card">
                    <a href="/images/{{ img.name }}">{{ img.name }}</a>
                    <p> Size: {{ img.size_b }} Kb</p>
                    <p> Modified ts: {{ img.t_modif }}</p>
                    <div class="rm-button">
                        <form action="images/rm{{ img.name }}" method="post">
                        <button name="remove" type="submit">Delete this</button>
                    </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
  </body>
</html>

<style>
    .page-wrapper {
        margin-left: 2em;
    }
    .card {
        margin-top: 20px;
        padding: 20px;
        background: rgb(106,90,205, 0.4);
        border-radius: 10px;
        width: max-content;
    }
</style>
